.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 3rem;
  min-height: 60vh;
}

@media (min-width: 640px) {
  .main {
    padding: 5rem;
  }
}

.cardLayout {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.card {
  justify-content: center;
}

@media (min-width: 844px) {
  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1800px) {
  .cardLayout {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 2400px) {
  .cardLayout {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}